<head>
    <link rel="alternate" href="http://takp.me" hreflang="en">
    <link rel="alternate" href="http://ja.takp.me" hreflang="ja">
    <link rel="alternate" href="http://takp.me" hreflang="x-default">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
</head>

<style>
    article.first-entry.home-info {
        margin: 0 !important;
    }

    .terms-tags-container {
        margin-top: 14px;
    }

    .terms-tags li {
        display: inline-block;
        margin: 0 !important;
        margin-right: 10px !important;
        font-weight: 500;
    }

    .terms-tags a {
        padding: 8px 15px;
    }

</style>

{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
        <div class="terms-tags-container">
            <ul class="terms-tags">
                {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a></li>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
